html {
	font-family: 'Arial';
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.projects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1%;
}

.project-card {
	text-align: center;	
}

.project-card img {
	width: 100%;
	height: auto;
}

.project-card h3 {
	margin: 20px 0px 10px 0px;
	font-weight: 700;
}

.project-about {
	margin-bottom: 50px;
}


@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }

    .projects-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1%;
	}
}

@media only screen and (max-width: 540px) {
    body {
        background-color: pink;
    }

    .projects-grid {
		display: grid;
		grid-template-columns: 1fr;		
	}

	.project-card {
		width: 100%;
	}
}